# Python virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]

# Environment files
.env
.env.*
!.env.example

# Logs
*.log

# AI models / large files
models/
*.bin
*.zip
*.gguf
*.onnx
*.pt
*.pth
*.safetensors

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db